<%- include("./header.ejs"); %>
<h1>Successfully created your new WordPress Site: <a href="https://<%=sitename%>.azurewebsites.net">https://<%=sitename%>.azurewebsites.net</a></h1>
<%- include("./footer.ejs"); %>