</div>
    

<footer class="site-footer d-print-none">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="mb-0">
                    Designed, Developed and Supported by
                </p>
                <h5 class="mb-3">
                    UCF IT App<span class="d-lg-inline d-md-none">lication</span> Development
                </h5>
                <p>
                    &copy; <a href="https://www.ucf.edu/">University of Central Florida</a> |
                    <b><a href="https://ucf.service-now.com/ucfit?id=sc_cat_item&amp;sys_id=ae7581c4dbb5a20096b0fb37bf961954" class="external">Report Issue</a></b>
                </p>
            </div>
            <div class="col-md-6 col-12 text-md-right text-sm-left">
                <h5 class="mb-md-3 mb-sm-0">
                    <a href="/">WordPress for Everyone</a>
                </h5>
                <p>
                    Current Version: <b>v0.0.1-alpha</b><br />
                    Current User:
                    <b>
                            <span>Public</span>
                    </b>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://universityheader.ucf.edu/bar/js/university-header.js?use-1200-breakpoint=1" id="ucfhb-script"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer="defer"></script>
<script src="https://cdn.it.ucf.edu/minerva/1.0.0/js/minerva.js"></script>
</body>
</html>