<%- include("./header.ejs"); %>
<h1>Welcome to WordPress for Everyone!</h1>
<form method="POST" action="/create">
    <label>Site Name:</label>
    <input type="text" name="sitename" />
    <input type="submit" value="Create" />
</form>
<%- include("./footer.ejs"); %>