<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> WordPress for Everyone | UCF Hack Day - Summer 2021</title>
        <link rel="canonical" href="https://cpd.sdes.ucf.edu/" />
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.it.ucf.edu/minerva/1.0.0/css/minerva.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/Content/Site.css" type="text/css" media="screen" />
        <link rel="shortcut icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/favicon_black.png" />
        <link rel="apple-touch-icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/apple-touch-icon.png" />
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header -->
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg slim-nav slim-nav-dark">
            <div class="container">
                <a class="navbar-brand" href="/">WordPress for Everyone!</a>

            </div>
        </nav>
    </header>

    <!-- content area -->
    
    <div class="header-bg"></div>

    <div class="container-fluid site-content" id="content">
        <div class="container">